.input{
    display:flex;
    width:90%;
    position: relative;
    align-items: center;
}

.input__box{
    width: 100%; /*input box will be entire width of div*/
    border-radius: 50px; /*we make the corners of the input box curved*/
    padding: 20px 30px; /*add 20px of padding/space on the inside of the input box*/
    font-size: 25px;
    border: none; /*remove the default border from this input box*/
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0);
    outline: none;
}

.input__submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s;
    box-shadow: 0 0 10px black;
}

.input__submit:hover{
    background-color: #388ae2;
}

.input__submit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}